.home-wrapper {
  width: 100vw;
  display: flex;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/rainy-day-in-the-city-rain-drops-on-window-glass-depressive-mood-background_sfemcnxxs__F0000.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}